<app-navbar></app-navbar>

<main class="min-h-screen flex items-center justify-center px-6 py-32">
  <div class="w-full max-w-md mx-auto">
    <app-login-header
      [activeTab]="activeTab"
      (tabChange)="selectTab($event)"
    ></app-login-header>

    <app-login-forms
      [activeTab]="activeTab"
      [loginEmail]="loginEmail"
      [loginPassword]="loginPassword"
      [loginError]="loginError"
      [signupError]="signupError"
      [showLoginPassword]="showLoginPassword"
      [showSignupPassword]="showSignupPassword"
      (loginEmailChange)="loginEmail = $event"
      (loginPasswordChange)="loginPassword = $event"
      (loginSubmit)="login()"
      (loginPasswordToggle)="toggleLoginPassword()"
      (signupPasswordToggle)="toggleSignupPassword()"
      (demoUser)="fillDemoUser($event.email, $event.password)"
      [signupName]="signupName"
      [signupLastName]="signupLastName"
      [signupEmail]="signupEmail"
      [signupPassword]="signupPassword"
      [signupPhone]="signupPhone"
      (signupNameChange)="setSignupName($event)"
      (signupLastNameChange)="setSignupLastName($event)"
      (signupEmailChange)="setSignupEmail($event)"
      (signupPasswordChange)="setSignupPassword($event)"
      (signupPhoneChange)="setSignupPhone($event)"
      (signupSubmit)="signup()"
    ></app-login-forms>
  </div>
</main>

<app-footer></app-footer>
