<app-navbar></app-navbar>
<div
  class="min-h-screen bg-cream font-sans text-charcoal"
  style="background-color: #f5f2eb"
>
  <main class="min-h-screen pt-32 pb-28 max-w-5xl mx-auto px-6 md:px-8">
    @if (!isLoggedIn) {
      <!-- ENCABEZADO -->
      <app-logged-out></app-logged-out>

      <!-- PASOS -->
      <app-order-steps></app-order-steps>

      <!-- LISTO PARA PEDIR -->
      <app-ready-to-order></app-ready-to-order>
    }

    @if (isLoggedIn) {
      <!-- HISTORIAL -->
      <app-logged-in></app-logged-in>

      <!-- POR AHORA: SIN PEDIDOS, hay que implementar SI TIENE O NO PEDIDOS ASOCIADOS-->
      <!-- No tiene  @if(orders.empty)-->
      <app-empty-orders></app-empty-orders>
      <!-- Si tiene  else{COMPONENTE QUE MUESTRE}-->
      <!--QUITAR EL COMENTARIOOOOOOO-->
      <!--<app-ordered></app-ordered>-->

      
    }
  </main>
</div>
<app-footer></app-footer>
